@(request: RequestHeader)(implicit messages: Messages)
@main(Messages("home.title"), None) {
<h1>ADMIN @Messages("error.notfound.title")</h1>
<p>@Messages("error.notfound.text", request.method + " " + request.uri)</p>
}