@(title: String, user: Option[silhouette.SilhouetteUser] = None)(content: Html)(implicit messages: Messages)
@main(Messages("home.title"), user) {
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			@content
		</div>
	</div>
}