@(emailForm: Form[String])(implicit request: RequestHeader, messages: Messages)
@import b3.vertical.fieldConstructor
@default("Forgot Password") {
	@tags.alertFromRequest(request, "error")
	@b3.form(controllers.routes.PasswordChangeController.handleForgotPassword) {
		@helper.CSRF.formField
		<fieldset>
			<legend>@Messages("forgot.title")</legend>
			@b3.text( emailForm("email"), '_hiddenLabel -> Messages("field.email"), 'placeholder -> "your@email.com", 'autofocus -> true )
			@b3.submit('class -> "btn btn-primary btn-block"){ @Messages("submit") }
		</fieldset>
	}
}