@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader, messages: Messages)
@import b3.vertical.fieldConstructor
@default("Reset Password") {
	@tags.alertFromRequest(request, "error")
	@passwordsForm.globalError.map { error =>
		@tags.alert(error.message, "error")
	}
	@b3.form(controllers.routes.PasswordChangeController.handleResetPassword(tokenId)) {
		@helper.CSRF.formField
		<fieldset>
			<legend>@Messages("forgot.reset.title")</legend>
			@b3.password( passwordsForm("password1"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.password"), 'autofocus -> true )
			@b3.password( passwordsForm("password2"), '_hiddenLabel -> Messages("field.password.repeat"), 'placeholder -> Messages("field.password.repeat") )
			@b3.submit('class -> "btn btn-primary btn-block"){ @Messages("reset") }
		</fieldset>
	}
}