@(user: silhouette.SilhouetteUser)(implicit messages: Messages)
@default("Reseted Password") {
	<p>@Messages("forgot.reseted")</p>
	<a href="@controllers.routes.ApplicationController.index">@Messages("go.index")</a>
}